<div class="col-md-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">CVTech</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a  class="nav-item nav-link active"
            [routerLink] = "['CVs']"
            routerLinkActive ='active'
        >
          List of CVs
        </a>
        <a  class="nav-item nav-link"
            [routerLink] = "['Todo']"
            routerLinkActive ='active'
        >
          List of Todo
        </a>
        <a  class="nav-item nav-link"
            [routerLink] = "['Mini-words']"
        >
          Mini Words color change
        </a>

      </div>
    </div>
  </nav>
</div>
